<!DOCTYPE html>
<html>
  <%- include("../header.ejs") %>
  <body>
    <%- include("../commons/navbar.ejs") %>
      <div class="card mx-auto my-5" style="max-width: 350px">
        <div class="card-header">
          ログイン
        </div>
        <div class="card-body">
          <% if (errors && errors.some((error)=> error.path === 'userNotFound')) { %>
            <div class="alert alert-danger" role="alert">
              <%= errors.find((error)=> error.path === 'userNotFound').msg %>
            </div>
          <% } %>
          <form action="/users/signin" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">メールアドレス
                <span class="badge bg-danger">必須</span></label>
              <input type="email"
                class="form-control <%= errors && errors.some((error) => error.path === 'email') ? 'is-invalid' : '' %>"
                id="email" name="email" value="<%= form.email %>">
              <div class="invalid-feedback">
                <%= errors && errors.some((error)=> error.path === 'email') ? errors.find((error) => error.path ===
                  'email').msg : '' %>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">パスワード
                <span class="badge bg-danger">必須</span></label>
              <input type="password"
                class="form-control <%= errors && errors.some((error) => error.path === 'password') ? 'is-invalid' : '' %>"
                id="password" name="password" value="<%= form.password %>">
              <div class="invalid-feedback">
                <%= errors && errors.some((error)=> error.path === 'password') ? errors.find((error) => error.path ===
                  'password').msg : '' %>
              </div>
            </div>
            <div class="row g-3 mb-3">
              <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
            <hr>
            <div class="mb-3">
              <a href="/users/signup/input">新規登録はこちら</a>
            </div>
          </form>
        </div>
      </div>
  </body>

</html>