<!DOCTYPE html>
<html>
  <%- include("../header.ejs") %>
  <body>
    <%- include("../commons/navbar.ejs") %>
      <div class="card mx-auto my-5 w-50">
        <div class="card-header">お問い合わせ内容の確認</div>
        <table class="table">
          <tr>
            <th>お名前</th>
            <td>
              <%= form.lastName %> <%= form.firstName %>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= form.email %>
            </td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td>
              <%= form.password.replace(/./g, "*") %>
            </td>
          </tr>
        </table>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-auto">
              <form action="/users/signup/register" method="post">
                <input type="hidden" name="firstName" value="<%= form.firstName %>">
                <input type="hidden" name="lastName" value="<%= form.lastName %>">
                <input type="hidden" name="email" value="<%= form.email %>">
                <input type="hidden" name="password" value="<%= form.password %>">
                <button type="submit" class="btn btn-primary">送信</button>
              </form>
            </div>
            <div class="col-auto">
              <form action="/users/signup/input" method="post">
                <input type="hidden" name="firstName" value="<%= form.firstName %>">
                <input type="hidden" name="lastName" value="<%= form.lastName %>">
                <input type="hidden" name="email" value="<%= form.email %>">
                <input type="hidden" name="inquiryText" value="<%= form.inquiryText %>">
                <button type="submit" class="btn btn-secondary">修正</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>